<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" sizes="192x192" href="icon.png" type="image/png" />
<link rel="apple-touch-icon" href="apple_touch_icon.png" type="image/png"/>

  <!-- Safari Pinned Tab Icon -->
  <!-- <link rel="mask-icon" href="https://static.wixstatic.com/media/3833f7_5ae335525d1346d3b9f1e8c0f08ba3fe%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/3833f7_5ae335525d1346d3b9f1e8c0f08ba3fe%7Emv2.png"> -->

  <!-- Original trials -->
<link rel="stylesheet" href="css/main.css" />
{%- if include.redirect_url -%}
<link rel="canonical" href="{{ include.redirect_url }}">
<meta http-equiv="refresh" content="0; url={{ include.redirect_url }}" />
{%- endif -%}
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} feed" href="feed.xml" />
