body {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;

  #menu {
    grid-column: 1;
    grid-row: 1;
  }
  
  #main {
    grid-column: 2;
    grid-row: 1;
    min-width: 0;
  }
}

@media (max-width: 700px) {
  body {
    grid-template-columns: auto;
  
    #main {
      grid-column: 1;
      grid-row: 1;
      min-width: 0;
    }

    #menu {
      grid-column: 1;
      grid-row: 2;

      #logo {
        position: absolute;
        right: 20px;

        a {
          height: 60px;
          width: 150px;  
          margin-top: 60px;
        }
      }
    }
    
    footer {
      grid-column: 1;
      grid-row: 3;
      display: none;
    }
  }  
}

@media (max-width: 350px) {
  #logo {
    display: none;
  }
}


table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

td,
th {
  padding: 0;
}


table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

table td>:last-child {
  margin-bottom: 0;
}

table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

 table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table img {
  background-color: transparent;
}
